@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

nav {
  flex-wrap: wrap;
  position: fixed;
  width: 100vw !important;
  top: 0px;
  z-index: 100;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.205);
}
nav ul {
  height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav li {
  scale: 0.8;
}
nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
nav li a:hover,
nav li a:active,
nav li a:focus {
  color: rgb(255, 125, 19);
}
#right img {
  height: 20px !important;
  margin: 10px !important;
  filter: grayscale(1);
}
#right img:hover {
  filter: grayscale(0);
}
#logo {
  height: 35px;
  filter: none;
}
